span.css-10trblm.e16nr0p30{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: -10px !important;
}
